<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastrar Produtos</h1>
    <form action="/produtos/cadastrar" method="POST">
       
        <label for="id">ID:</label>
        <input type="text" id="id" name="id"><br><br>  

        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao"><br><br>

        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade"><br><br>

        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor"><br><br>

           <input type="submit" value="Cadastrar Produto">                 

                 
    
    </form>
</body>
</html>